.alingemt{
    text-align: left;
    margin-left: 90px;
    margin-top: 20px;
    
}


.button{
border: 2px solid rgb(245, 126, 14);

}
.button:hover{
    background-color: rgb(245, 126, 14);
    color: black;
}
.code img{
    width: 10%;
    padding-right: 20px;
   
    
    
}
.picture img{
    width: 70%;
    border-radius: 10px;
   
}

